{{ form_start(form) }}

{{ form_label(form.name) }}
{{ form_widget(form.name) }}
<br/>
{{ form_label(form.formFile) }} {{ ' (' ~ song.file ~ ') ' }}
{{ form_widget(form.formFile) }}
<br/>
{{ form_label(form.duration) }} {{ ' (' ~ song.duration ~ ') ' }}
{{ form_widget(form.duration) }}
<br/>
{{ form_label(form.listeningNumber) }} {{ ' (' ~ song.listeningNumber ~ ') ' }}
{{ form_widget(form.listeningNumber) }}
<br/>
{{ form_label(form.formImage) }} {{ ' (' ~ song.image ~ ') ' }}
{{ form_widget(form.formImage) }}
<br/>


<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
